<% color ||= 'yellow' %>

<div class="rounded-md bg-<%= color %>-light border border-<%= color %> py-4 px-5 my-3">
  <h3 class="text-sm text-<%= color %>-darker font-light">
    <%= yield %>
  </h3>
</div>
