<div class="flex-grow flex <%= side == :left ? 'justify-start' : 'justify-end order-2' %>">
  <div class=" border-solid border-gray-300 <%= border_classes %> text-white <%= side == :left ? 'ml-12 mr-0' : 'ml-0 mr-12' %> w-6"></div>
</div>
