<!DOCTYPE html>
<html>
  <head>
    <%= render 'themes/light/layouts/head' %>
  </head>
  <body class="bg-light-blue-gradient text-gray-700 text-sm font-normal electron-draggable">
    <div data-turbo="false">
      <%= yield %>
    </div>
  </body>
</html>
