<% team ||= @team %>
<% unless current_user.one_team? %>
  <li class="breadcrumb-item">
    <%= breadcrumb_link_to t('.label'), [:account, :teams] %>
  </li>
  <% if team&.persisted? %>
    <li class="breadcrumb-item">
      <%= breadcrumb_link_to team.name, [:account, team] %>
    </li>
  <% end %>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'teams' %>
<% if (action_name == 'show' && controller_name == 'teams') || current_user.one_team? %>
  <li class="breadcrumb-item"><%= breadcrumb_link_to 'Dashboard', [:account, team] %></li>
<% end %>
