<ul class="space-y">
  <% @teams.each do |team| %>
    <li class="bg-white shadow overflow-hidden sm:rounded-md">
      <%= link_to [:account, team], class: "group block hover:bg-gray-50" do %>
        <div class="px-4 py-4 flex items-center sm:pl-8 sm:pr-6">
          <div class="min-w-0 flex-1 sm:flex sm:items-center sm:justify-between">
            <div>
              <div class="flex text-xl font-semibold text-blue uppercase group-hover:text-blue-dark tracking-widest">
                <%= team.name %>
              </div>
            </div>
            <div class="mt-4 flex-shrink-0 sm:mt-0">
              <div class="flex overflow-hidden">
                <%= render 'account/shared/memberships/photos', memberships: team.memberships.current_and_invited.first(10) %>
              </div>
            </div>
          </div>
          <div class="ml-5 flex-shrink-0">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<% if show_sign_up_options? && can?(:create, Team.new) %>
  <div class="pt-5">
    <%= link_to t('.buttons.create'), new_account_team_path(@team), class: 'button'  %>
  </div>
<% end %>
