<% api_key ||= @api_key %>
<% user ||= @user || api_key&.user %>
<%= render 'account/users/breadcrumbs', user: user %>
<li class="breadcrumb-item">
  <%= breadcrumb_link_to t('.label'), [:account, user, :api_keys] %>
</li>
<% if api_key&.persisted? %>
  <li class="breadcrumb-item"><%= link_to api_key.name, [:account, api_key] %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'api_keys' %>
