// add *.scss form fields look.
.form-group.required {
  label.asteriskable {
    &:after {
      content: '*';
      color: $red;
      font-size: 18pt;
      line-height: 0;
      margin-left: 2px;
      vertical-align: -5.75pt;
    }
    &.col-form-label {
      &:after {
        font-size: 14pt;
        vertical-align: -3.75pt;
      }
    }
  }
}
.header-field {
  .form-group.required {
    label.asteriskable {
      &:after {
        vertical-align: -2.75pt;
      }
    }
  }
}
