<div class="d-block d-sm-inline">
  <%= link_to user_stripe_connect_omniauth_authorize_path, class: 'btn btn-primary mt-2', id: 'sign_in_with_stripe' do %>
    <i class="ti-money"></i>
    <span class="d-none d-sm-inline"><%= verb %> with</span> Stripe
  <% end %>
</div>
