
@layer components {
  .date-input {
    .single-daterange {
      @apply rounded-md shadow-sm focus:ring-blue focus:border-blue font-light text-sm;
    }
  }

  .daterangepicker {
    .hourselect, .minuteselect, .ampmselect {
      @apply rounded-md shadow-sm focus:ring-blue font-light;
      @apply border-gray-300 focus:border-blue bg-white #{!important};
      text-align-last: center;
    }

    .calendar-table .active {
      @apply bg-blue #{!important};
    }
  }
}
