<div class="logo-w">
  <a href="<%= main_app.root_path %>">
    <img alt="" src="<%= image_path("logo/logo-on-white.png") %>" width="<%= image_width_for_height('logo/logo-on-white.png', 54) %>" height="54" />
  </a>
</div>
