<%
# don't add controller-specific actions in this file. instead, include them right below where this partial is
# included. see `app/views/account/teams/_breadcrumbs.html.erb` for an example.
%>
<% if account_controller_name_with_namespace == only_for %>
  <% if action_name == 'edit' %>
    <li class="breadcrumb-item"><%= ot("#{account_controller_name_with_namespace}.breadcrumbs.edit") || t('breadcrumbs.actions.edit') %></li>
  <% elsif action_name == 'new' %>
    <li class="breadcrumb-item"><%= ot("#{account_controller_name_with_namespace}.breadcrumbs.new") || t('breadcrumbs.actions.new') %></li>
  <% end %>
<% end %>
