<% endpoint ||= @endpoint %>
<% team ||= @team || endpoint&.team %>
<%= render 'account/teams/breadcrumbs', team: team %>
<li class="breadcrumb-item">Webhooks</li>
<li class="breadcrumb-item">
  <%= link_to t('.label'), [:account, team, :webhooks, :outgoing, :endpoints] %>
</li>
<% if endpoint&.persisted? %>
  <li class="breadcrumb-item"><%= link_to endpoint.name, [:account, endpoint] %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'webhooks/outgoing/endpoints' %>
