<% stripe_account ||= @stripe_account %>
<% team ||= @team || stripe_account&.team %>
<%= render 'account/teams/breadcrumbs', team: team %>
<li class="breadcrumb-item">
  <%= breadcrumb_link_to t('.label'), [:account, team, :oauth, :stripe_accounts] %>
</li>
<% if stripe_account&.persisted? %>
  <li class="breadcrumb-item"><%= link_to stripe_account.name, [:account, stripe_account] %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'oauth/stripe_accounts' %>
