<% scaffolding_completely_concrete_tangible_things_reassignment ||= @scaffolding_completely_concrete_tangible_things_reassignment %>
<% membership ||= @membership || scaffolding_completely_concrete_tangible_things_reassignment&.membership %>
<%= render 'account/memberships/breadcrumbs', membership: membership %>
<li class="breadcrumb-item">
  <%= link_to t('.label'), [:account, membership, :reassignments_scaffolding_completely_concrete_tangible_things_reassignments] %>
</li>
<% if scaffolding_completely_concrete_tangible_things_reassignment&.persisted? %>
  <li class="breadcrumb-item"><%= scaffolding_completely_concrete_tangible_things_reassignment.label_string %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'memberships/reassignments/scaffolding_completely_concrete_tangible_things_reassignments' %>
