<% if (Rails.env.development? && !ENV['HIDE_CUSTOMIZER']) || ENV['SHOW_CUSTOMIZER'].present? %>

<div class="floated-colors-btn second-floated-btn">
  <div class="os-toggler-w">
    <div class="os-toggler-i">
      <div class="os-toggler-pill"></div>
    </div>
  </div>
  <span>Dark</span>
  <span>Mode</span>
</div>

<div class="floated-customizer-btn third-floated-btn">
  <div class="icon-w">
    <i class="os-icon os-icon-ui-46"></i>
  </div>
  <span>Customizer</span>
</div>

<div class="floated-customizer-panel">
  <div class="fcp-content">
    <div class="close-customizer-btn"><i class="os-icon os-icon-x"></i></div>
    <div class="fcp-group">
      <div class="fcp-group-header">Menu Settings</div>
      <div class="fcp-group-contents">
        <div class="fcp-field">
          <label for="">Menu Position</label>
          <select class="menu-position-selector">
            <option value="left">Left</option>
            <option value="right">Right</option>
            <option value="top">Top</option>
          </select>
        </div>
        <div class="fcp-field">
          <label for="">Menu Style</label>
          <select class="menu-layout-selector">
            <option value="compact">Compact</option>
            <option value="full">Full</option>
            <option value="mini">Mini</option>
          </select>
        </div>
        <div class="fcp-field with-image-selector-w" style="display: none;">
          <label for="">With Image</label>
          <select class="with-image-selector">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="fcp-field">
          <label for="">Menu Color</label>
          <div class="fcp-colors menu-color-selector">
            <div class="color-selector menu-color-selector color-bright"></div>
            <div class="color-selector menu-color-selector color-dark"></div>
            <div class="color-selector menu-color-selector color-light selected"></div>
            <div class="color-selector menu-color-selector color-transparent"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="fcp-group">
      <div class="fcp-group-header">Sub Menu</div>
      <div class="fcp-group-contents">
        <div class="fcp-field">
          <label for="">Sub Menu Style</label>
          <select class="sub-menu-style-selector">
            <option value="flyout">Flyout</option>
            <option value="inside">Inside/Click</option>
            <option value="over">Over</option>
          </select>
        </div>
        <div class="fcp-field">
          <label for="">Sub Menu Color</label>
          <div class="fcp-colors">
            <div class="color-selector sub-menu-color-selector color-bright selected"></div>
            <div class="color-selector sub-menu-color-selector color-dark"></div>
            <div class="color-selector sub-menu-color-selector color-light"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="fcp-group">
      <div class="fcp-group-header">Other Settings</div>
      <div class="fcp-group-contents">
        <div class="fcp-field">
          <label for="">Full Screen?</label>
          <select class="full-screen-selector">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>

        <% if false %>
        <div class="fcp-field">
          <label for="">Show Top Bar</label>
          <select class="top-bar-visibility-selector">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="fcp-field">
          <label for="">Above Menu?</label>
          <select class="top-bar-above-menu-selector">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="fcp-field">
          <label for="">Top Bar Color</label>
          <div class="fcp-colors">
            <div class="color-selector top-bar-color-selector color-bright"></div>
            <div class="color-selector top-bar-color-selector color-dark"></div>
            <div class="color-selector top-bar-color-selector color-light"></div>
            <div class="color-selector top-bar-color-selector color-transparent selected"></div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% end %>
