<% attributes ||= [] %>
<% attributes.select! { |attribute| form.object.errors[attribute].any? } %>

<% if notice.present? %>
  <div class="alert alert-warning"><%= notice %></div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>

<% if flash[:error].present? %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
