<% color ||= 'yellow' %>

<div class="rounded-md bg-<%= color %>-light border border-<%= color %> py-4 px-5 mb-3">
  <h3 class="text-sm text-<%= color %>-darker font-light">
    <%= yield %>
  </h3>
</div>

<% # we have to list out the evaluations we want possible above so purgecss includes them in production. %>
<% if false %>
  <div class="bg-yellow-light border-yellow text-yellow-darker"></div>
  <div class="bg-red-light border-red text-red-darker"></div>
<% end %>
