<% label ||= t('global.or') %>

<div class="relative">
  <div class="absolute inset-0 flex items-center">
    <div class="w-full border-t border-gray-300 dark:border-gray-500"></div>
  </div>
  <div class="relative flex justify-center">
    <span class="px-2 bg-white text-gray-500 uppercase text-xs dark:text-gray-300 dark:bg-sealBlue-400">
      <%= label %>
    </span>
  </div>
</div>
