// only show the first column when doing drag-and-drop on a table.
tr.gu-mirror {
  td {
    display: none;
  }
  td:first-child {
    display: table-cell;
  }
}

.table.table-without-headings {
  margin-top: -5px;
  thead {
    display: none !important;
  }
  tbody {
    tr:first-child {
      td {
        border-top: none !important;
      }
    }
  }
}

// fix the buttons from expanding the table.
table tbody td .btn {
  margin-top: -2px;
  margin-bottom: -2px;
}
