.tags {
  line-height: 1;
  .tag {
    padding: 3px 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
  }
}
