<div class="element-wrapper">
  <h6 class="element-header"><%= t('.section') %></h6>
  <%= render 'account/shared/notices' %>
  <div class="padded-lg">

    <div class="alert alert-warning">
      This is a placeholder view. It serves no purpose by default in Bullet Train,
      but it allows you to use Super Scaffolding for models that fall under a <code>User</code>
      instead of a <code>Team</code>. In our experience these types of models are quite
      rare, so please use this sparingly, but if you're using this, you've probably
      chatted with us about it.
    </div>

    <%# 🚅 super scaffolding will insert new children above this line. %>

  </div>
</div>
