<div class="element-wrapper">
  <h6 class="element-header"><%= t('.section') %></h6>
  <div class="padded-lg">
    <%= render 'account/shared/notices' %>
    <%= render 'index', creative_concepts: @creative_concepts %>
  </div>
</div>
