<% delivery_attempt ||= @delivery_attempt %>
<% delivery ||= @delivery || delivery_attempt&.delivery %>
<%= render 'account/webhooks/outgoing/deliveries/breadcrumbs', delivery: delivery %>
<li class="breadcrumb-item">
  <%= link_to t('.label'), [:account, delivery, :delivery_attempts] %>
</li>
<% if delivery_attempt&.persisted? %>
  <li class="breadcrumb-item"><%= link_to delivery_attempt.name, [:account, delivery_attempt] %></li>
<% end %>
<%= render 'account/shared/breadcrumbs/actions', only_for: 'webhooks/outgoing/delivery_attempts' %>
