<div class="element-wrapper">
  <h6 class="element-header"><%= t('webhooks/outgoing/delivery_attempts.delivery_header', delivery_name: possessive_string(@delivery.name)) %></h6>
  <div class="padded-lg">
    <%= render 'account/shared/notices' %>
    <%= render 'index', delivery_attempts: @delivery_attempts %>
  </div>
</div>
