<% yield p = np %>

<% method ||= nil %>
<% active ||= request.path == url %>

<%= send (method ? :button_to : :link_to), url, class: "block group hover:text-white hover:no-underline #{'bg-primary-900 dark:bg-black dark:bg-opacity-10' if active} text-white #{@menu_orientation == :top ? "px-5 py-5" : "px-2 py-2 rounded-md hover-indent-child"} #{"rounded-tl-lg" unless @not_first} dark:text-white", method: method do %>
  <div class="inline-block indent-child flex items-center">
    <!-- Heroicon name: home -->
    <% if p.content_for? :icon %>
      <span class="mr-3 h-6 w-6 text-center text-secondary-300 text-xl leading-6 dark:text-slate-400">
        <%= p.content_for :icon %>
      </span>
    <% end %>
    <%= label %>
  </div>
<% end %>

<% # Ugly, but works. %>
<% @not_first = true %>