<% # Ugly, but works. %>
<% @menu_orientation = :side %>

<div class="lg:hidden hidden"
  data-mobile-menu-target="wrapper"
  id="mobile-menu-backdrop"
>
  <div class="fixed inset-0 flex z-40">
    <button
      data-mobile-menu-target="revealable"
      data-action="mobile-menu#close"
    
      data-transition-enter="transition-opacity ease-linear duration-200"
      data-transition-enter-start="opacity-0"
      data-transition-enter-end="opacity-100"
      data-transition-leave="transition-opacity ease-linear duration-200"
      data-transition-leave-start="opacity-100"
      data-transition-leave-end="opacity-0"

      class="hidden fixed inset-0" aria-hidden="true"
    >
      <div class="absolute inset-0 bg-light-gradient opacity-75"></div>
    </button>
    <div
      data-mobile-menu-target="revealable"
      
      data-transition-enter="transition ease-in-out duration-200 transform"
      data-transition-enter-start="-translate-x-full"
      data-transition-enter-end="translate-x-0"
      data-transition-leave="transition ease-in-out duration-200 transform"
      data-transition-leave-start="translate-x-0"
      data-transition-leave-end="-translate-x-full"

      class="hidden relative flex-1 flex flex-col max-w-xs w-full pb-4 bg-dark-gradient shadow-xl"
    >
      <%= render "account/shared/menu/sidebar", expand: true %>
    </div>
    <div class="flex-shrink-0 w-14" aria-hidden="true"></div>
  </div>
</div>
