<div class="element-wrapper">
  <h6 class="element-header"><%= t('.section') %></h6>
  <div class="padded-lg">
    <%= render 'shared/notices' %>
    <%= render 'index', tangible_things: @tangible_things %>
  </div>
</div>
