<% yield p = np %>

<% method ||= :get %>
<% active ||= false %>

<%= link_to url, method: method, class: "block group hover:text-white hover:no-underline hover-indent-child #{'bg-blue-darker' if active} text-white px-2 py-2 rounded-md" do %>
  <div class="inline-block indent-child flex items-center">
    <!-- Heroicon name: home -->
    <% if p.content_for? :icon %>
      <span class="mr-3 h-6 w-6 text-center text-blue-light text-xl leading-6">
        <%= p.content_for :icon %>
      </span>
    <% end %>
    <%= label %>
  </div>
<% end %>
