<%= render 'account/shared/menu/item', url: main_app.edit_account_user_path(current_user), label: t('menus.main.labels.edit_account_details') do |p| %>
  <% p.content_for :icon do %>
    <i class="fal fa-user-cog ti ti-user"></i>
  <% end %>
<% end %>

<% if current_user.multiple_teams? %>
  <%= render 'account/shared/menu/item', url: main_app.account_teams_path, label: t('menus.main.labels.switch_teams') do |p| %>
    <% p.content_for :icon do %>
      <i class="ti ti-control-shuffle"></i>
    <% end %>
  <% end %>
<% elsif show_sign_up_options? %>
  <%= render 'account/shared/menu/item', url: main_app.new_account_team_path, label: t('menus.main.labels.add_new_team') do |p| %>
    <% p.content_for :icon do %>
      <i class="ti ti-plus"></i>
    <% end %>
  <% end %>
<% end %>

<div data-turbo="false">
  <%= render 'account/shared/menu/item', url: main_app.destroy_user_session_path, method: :delete, label: t('menus.main.labels.logout') do |p| %>
    <% p.content_for :icon do %>
      <i class="fal fa-sign-out ti ti-close"></i>
    <% end %>
  <% end %>
</div>
