<% yield %>

<%
form ||= current_fields_form
options ||= {}
other_options ||= {}
%>

<%= render 'shared/fields/field', form: form, method: method, helper: :file_field, options: options, other_options: other_options do %>
  <% content_for :field do %>
    <div class="file-field" data-controller="fields--file-field">
      <%= form.hidden_field "#{method}_removal".to_sym, value: nil, data: {'fields--file-field-target': 'removeFileFlag'} %>
      <%= form.file_field method, class: 'file-upload hidden', direct_upload: true, data: {'fields--file-field-target': 'fileField', action: 'change->fields--file-field#handleFileSelected'} %>
      <div>
        <% if form.object.send(method).attached? %>
          <%= link_to url_for(form.object.send(method)), class: 'button download-file mr-3', data: {'fields--file-field-target': 'downloadFileButton'} do %>
            <i class="leading-none mr-2 text-base ti ti-download"></i>
            <span>Download Current Document</span>
          <% end %>
        <% end %>
        <% if form.object.send(method).attached? %>
          <div class="button-alternative cursor-pointer mr-3" data-action="click->fields--file-field#removeFile" data-fields--file-field-target="removeFileButton">
            <i class="leading-none mr-2 text-base ti ti-trash"></i>
            <span>Remove Current Document</span>
          </div>
        <% end %>
      </div>
      <div class="mt-2">
        <div class="button-alternative cursor-pointer" data-action="click->fields--file-field#uploadFile" data-fields--file-field-target="selectFileButton">
          <i class="leading-none mr-2 text-base ti ti-upload dark:text-white"></i>
          <span class="dark:text-white">Upload New Document</span>
        </div>
        <div class="mt-2 hidden overflow-hidden text-xs rounded bg-slate-100 shadow-inner relative">
          <div data-fields--file-field-target="progressBar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="absolute top-0 left-0 whitespace-nowrap overflow-hidden animate-pulse bg-primary-500 dark:bg-slate-800 rounded" role="progressbar" style="width: 0%;">&nbsp;</div>
          <div class="text-black text-center" data-fields--file-field-target="progressLabel">0%</div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
