<% yield %>

<%
stimulus_controller = 'fields--password'

form ||= current_fields_form
options ||= {}

if options[:show_strength_indicator]
  options = options.merge({ data: {"action": "keyup->fields--password#estimateStrength" }})
end

other_options ||= {}
%>

<div data-controller="<%= stimulus_controller %>">
  <%= render 'shared/fields/field', form: form, method: method, helper: :password_field, options: options, other_options: other_options %>
  <% if options[:show_strength_indicator] %>
    <% # TODO This is the wrong place to define this kind of style, but I couldn't make this work in the `:help` content buffer. %>
    <div data-<%= stimulus_controller %>-target="strengthIndicator" class="hidden mt-1.5 text-xs text-red-600"></div>
  <% end %>
</div>