<% yield p = np %>

<%
form ||= current_fields_form
labels = labels_for(form, method)
options ||= {}
options[:class] = "formatted_content trix-content #{options[:class]}"
options[:placeholder] ||= labels.placeholder if labels.placeholder
options[:data] ||= {}
options[:data][:mentions] ||= ([current_team].map { |team|
  {key: team.name, value: team.id, protocol: 'bullettrain', model: 'teams', id: team.id, label: team.name, photo: photo_for(team)}
} + current_team.memberships.current_and_invited.map { |membership|
  {key: membership.name, value: membership.id, protocol: 'bullettrain', model: 'memberships', id: membership.id, label: membership.name, photo: membership_profile_photo_url(membership)}
}).to_json
options[:data][:topics] ||= []
# current_team.scaffolding_things.map { |scaffolding_thing|
#   {key: scaffolding_thing.name, value: scaffolding_thing.id, protocol: 'bullettrain', model: 'scaffolding/things', id: scaffolding_thing.id, label: scaffolding_thing.name, photo: photo_for(scaffolding_thing)}
# }.to_json
other_options ||= {}
%>

<div class="<%= 'trix-hide-toolbar' if other_options[:hide_toolbar] %>">
<%= render 'shared/fields/field', form: form, method: method, options: options, other_options: other_options do %>
  <% content_for :field do %>
    <%= form.rich_text_area method, options %>
    <% if p.content_for? :submit_button %>
      <%= p.content_for :submit_button %>
    <% end %>
  <% end %>
<% end %>
</div>
