<%= render 'shared/page' do |p| %>
  <% p.content_for :title, "Public Index Page" %>

  <% p.content_for :body do %>
    <p>Change the contents of `app/views/public/home/index.html.erb` to edit this view.</p>
  <% end %>
<% end %>
