@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tailwind-components";
@import "./tailwind-utilities";

@import "./electron";
@import "./select2-tailwind";

// TODO there is probably a better way to do this.
.hover-indent-child {
  .indent-child {
    transition: transform 0.2s ease;
  }
  &:hover {
    .indent-child {
      transform:translateX(8px);
    }
  }
}

form.button_to {
  @apply inline-block;
  input[type=submit] {
    @apply bg-transparent;
    &.button {
      @apply bg-blue hover:bg-blue-dark;
    }
  }
}

// hide the first breadcrumb chevron
ol.breadcrumb li:first-child svg { display: none; }
