<% color ||= "yellow" %>
<% tighter ||= false %>

<% 
case color
when "yellow"
  div_classes = "bg-yellow-200 border-yellow-400"
  header_classes = "text-yellow-700"
when "red"
  div_classes = "bg-red-300 border-red-400"
  header_classes = "text-red-700"
end
%>

<div class="rounded-md border <%= div_classes %> py-4 px-5 mb-3">
  <h3 class="text-sm  <%= header_classes %> font-light">
    <%= yield %>
  </h3>
</div>