<div class="border-b border-slate-200 pb-4 dark:border-slate-600" style="position: relative;">
  <div style="background-color: var(--primary-500); width: 26px; height: 3px; position: absolute; left: 0; bottom: -2px; border: 1px solid var(--primary-500); border-radius: 1px;"></div>
</div>
