<% yield p = np %>

<div class="border border-slate-300 dark:border-opacity-10 rounded-md bg-slate-50 dark:bg-opacity-10">
  <% if p.content_for?(:title) || p.content_for?(:description) || p.content_for?(:body) %>
    <div class="py-4 px-5 space-y">
      <% if p.content_for?(:title) || p.content_for?(:description) %>
        <div class="space-y-2">
          <% if p.content_for? :title %>
            <h2 class="text-base font-semibold">
              <%= p.content_for :title %>
            </h2>
          <% end %>

          <% if p.content_for? :description %>
            <p class="text-slate-400 font-light leading-normal">
              <%= p.content_for :description %>
            </p>
          <% end %>
        </div>
      <% end %>

      <% if p.content_for? :body %>
        <div class="space-y">
          <%= p.content_for :body %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div>
    <%= p.content_for :raw_body %>
  </div>
</div>
