a.btn-link-with-icon {
  * {
    display: inline-block;
  }
  text-transform: none !important;
  span {
    margin-left: 3px;
  }
  &:hover {
    text-transform: none !important;
    span {
      display: inline;
      text-transform: underline !important;
    }
  }
}
