// the placeholder font is too thin, so we have to darken the color a bit.
// this is #c4c9d3.
$placeholder: darken(#dde2ec, 10%);

.form-control {
  &::placeholder {
    color: $placeholder;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $placeholder;
  }

  &::-ms-input-placeholder {
    color: $placeholder;
  }
}

.form-header.form-header-without-desc {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.form-desc + .form-buttons-w {
  border-top: 0;
}
