.square-icon {
  display: inline-block;
  width: 21px;
  height: 21px;
  i.rotating {
    display: inline-block;
    line-height: 22px;
    text-align: center;
    width: 21px;
    height: 21px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
