.modal-backdrop {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  opacity: 0.3;
  &.modal-backdrop--remove {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    opacity: 0;
  }
}

.modal.bt-modal {
  .modal-content {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    .modal-body {
      margin: 0;
      .element-box {
        box-shadow: 0 25px 65px rgba(15, 24, 33, 0.29);
        animation-name: fadeUp;
        animation-duration: 0.5s;
      }
    }
  }

  &.modal--remove {
    .modal-content {
      .modal-body {
        .element-box {
          animation-name: fadeAway;
          animation-duration: 0.5s;
          opacity: 0;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 650px;
  }
}
