.special-scrollbars {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);

  &::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }

  &::-webkit-scrollbar-button:end:increment, &::-webkit-scrollbar-button:start:decrement {
    background: transparent;
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    background: rgba(9, 30, 66, .08);
  }

  &::-webkit-scrollbar-track-piece:vertical:start {
    // border-radius: 4px 4px 0 0;
  }

  &::-webkit-scrollbar-track-piece:vertical:end {
    // border-radius: 0 0 4px 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:start {
    // border-radius: 4px 0 0 4px;
  }

  &::-webkit-scrollbar-track-piece:horizontal:end {
    // border-radius: 0 4px 4px 0;
  }

  &::-webkit-scrollbar-thumb:horizontal, &::-webkit-scrollbar-thumb:vertical {
    background: rgba(9, 30, 66, .13);
    // border-radius: 4px;
    display: block;
    height: 48px;
  }
}
