<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag 'public', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
