<% object ||= current_attributes_object %>
<% strategy ||= current_attributes_strategy || :none %>
<% source ||= nil %>
<% url ||= nil %>
<% secret ||= false %>
<% if object.send(attribute).present? %>
  <%= render 'shared/attributes/attribute', object: object, attribute: attribute, strategy: strategy, url: url do %>
    <% if secret && source.nil? %>
      <% attribute = object.send(attribute) %>
      <% attribute_short = attribute[0..4] %>
      <div class="flex flex-row">
        <details class="group peer order-2">
          <% # TODO We removed `dark:text-darkAccent-200` here and replaced it with `dark:text-slate-200`. Figure out what it should actually be. %>
          <summary class="list-none text-xs text-primary-500 dark:text-slate-200 hover:text-primary-600 hover:underline group-open:hidden cursor-pointer">Show</summary>
          <code class="text-pink-600 font-light"><%= attribute %></code>
        </details>
        <code class="order-1 mr-2 peer-open:hidden text-pink-600 font-light"><%= attribute_short %><% if attribute_short.length < attribute.length %>&hellip;<% end %></code>
      </div>
    <% else %>
      <code class="text-pink-600 font-light"><%= object.send(source || attribute) %></code>
    <% end %>
  <% end %>
<% end %>