name: Auto Merge main

on:
  push:
    branches:
      - main

jobs:
  merge_main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Git
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@users.noreply.github.com"

      - name: Merge main into edge
        run: |
          git checkout edge
          git merge main --no-edit
          git push origin edge
